@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./assets/fonts/beatrice-display-trial-cufonfonts-webfont/style.css";
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --font-beatrice: "Beatrice Display Trial Regular", sans-serif;
  --font-beatrice-light: "Beatrice Display Trial Light";
  --font-beatrice-medium: "Beatrice Display Trial Medium", sans-serif;
  --font-beatrice-semibold: "Beatrice Display Trial Semibold", sans-serif;
  --font-beatrice-extrabold: "Beatrice Display Trial Extrabold", sans-serif;

  --tracking-2px: 2px;
}
